<div class=".container-fluid bg-light">
  <nav class="navbar container my-container-header d-flex bg-light">
    <div><a class="nav-link my-header-link" href="/">Articles</a></div>
    <div><a class="nav-link my-header-link" href="/about">About</a></div>
    <div class="nav-item active mt-2 ml-auto">
      <label class="nav-link switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </div>
  </nav>
</div>
